[Unit]
Description=Python Chat Server
           
[Service]
WorkingDirectory=/root/python-chat
Type=simple
ExecStart=/usr/bin/python3 server_headless.py
Restart=always
           
[Install]
WantedBy=default.target
